body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.plastic {
  width: 30vw;
  margin-top: 10vh;
}
.noplastic {
  width: 30vw;
  margin-top: 10vh;
  margin-left: 10px;
}
.options {
  display: flex;
  justify-content: center;
}
.text {
  margin-top: 10vh;
}
.userIcon {
  position: absolute;
  top: 55px;
  right: 10px;
  height: 3em;
  width: 3em;
}
.logo {
  height: 125px;
  width: 170px;
}
.noplastic:hover {
  border: solid black 4px;
}
.plastic:hover {
  border: solid black 4px;
}
